<h1 class="center">Listing all articles!</h1>
<div class="pagination justify-content-center">
	<%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div class="container pagination justify-content-center">
	<%= will_paginate %>
</div>